server/volumes/
ml-server/__pycache__/
ml-server/api
ml-server/data
ml-server/encodedimage.npy
ml-server/encodedid.npy
ml-server/dataset/
server/apps/backend/.env
server/apps/backend/images/
server/apps/backend/dist/
server/apps/backend/node_modules/
server/.env
.DS_Store
